.card {
	padding: 8rem 4rem;
	background-color: white;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 480px;
}


.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
}

.h1 {
	font-size: 2.25rem;
	font-weight: 900;
}

.form-input {
	margin-top: 1.5rem;
	padding: 1.25rem 1rem;
	font-size: 1.25rem;
	border-radius: 8px;
	background: #D2D2D2;
	color: #000000;
	font-weight: 600;
	border: 0;
}

.btn-primary {
	background-color: #FFB548;
	color: white;
	margin-top: 1.5rem;
	padding: 1.25rem 1rem;
	font-size: 1.25rem;
	border-radius: 8px;
	border: 0;
	cursor: pointer;
	font-weight: bold;
}

.btn-fight {
	padding: 8px 24px;
	border-radius: 20px;
	font-size: 1rem;
}

.comment {
	font-size: 18px;
	color: white;
	width: 90%;
	margin: 1rem 0;
}

.date {
	font-size: 14px;
	color: white;
	opacity: 0.5;
}

.error {
	background-color: red;
	padding: 1rem;
	font-size: 1rem;
	color: black;
	font-weight: 700;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	padding: 1rem;
	height: 60px;
}

.navbar-container {
	background-color: #262626;
	width: 100%;
}

.logo {
	font-weight: 700;
	width: 50%;
}

.list-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 700;
	width: 10%;
}

a {
	text-decoration: none;
	color: white;
}

.player-card {
	padding: 1.875rem 3rem;
	background: #262626;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
}

.center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}



.profile-description {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.img-profile {
	border-radius: 50%;
	margin-right: 1rem;
	width: 65px;
	height: 65px;
}

.name {
	color: #FFB548;
	font-size: 1.5rem;
}

.level {
	font-size: 1.25rem;
	opacity: 0.5;
	color: white;
}

.player-card__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin-top: 2rem;

}

.player-list__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 3rem;
}

.text-white {
	color: #ffff;
}

.h-100 {
	min-height: 100vh;
}

.filter-navigation {
	display: flex;
	gap: 10px;
	margin: 2rem;

}

.list-filter__item {
	padding: 4rem 3rem;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	color: white;
	background: #262626;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

.list-filter__item.active {
	background-color: #FFB548;
}